@use "variables" as *;

body {
  font-family: $font-family-base;
  background-color: $white-color;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 $container-padding;
}

img {
  max-width: 100%;
  display: block;
}
