@use "variables" as *;

.footer {
  padding: 60px 0;
  background-color: $white-color;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 323px;
    padding: 100px 150px;
  }

  &__brand {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;

    .footer__socials {
      display: flex;
      gap: 12px;

      img {
        border-radius: 8px;
      }
    }
  }

  &__links {
    display: flex;
    gap: 120px;
    flex-wrap: wrap;

    div {
      display: flex;
      flex-direction: column;

      h4 {
        font-weight: 600;
        margin-bottom: 50px;
      }

      a {
        font-size: 24px;
        font-weight: 400;
        color: $black-color2;
        text-decoration: none;
        gap: 30px;
        margin-bottom: 54px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  // Responsive - iPad
  @media (max-width: 1024px) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }

    &__container {
      margin: 100px 212px 100px 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 96px;
      justify-content: space-between;
    }
  }

  // Responsive - iPhone
  @media (max-width: 430px) {
    .footer {
      display: none;
    }
  }

  // Responsive - Large desktop
  @media (min-width: 1728px) {
    &__container {
      max-width: 1440px;
    }
  }
}
