@use "variables" as *;

.review {
  color: $white-color;
  text-align: center;

  &__container {
    max-width: 720px;
    margin: 0 auto;
    padding: 165px 318px;
  }

  &__author {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  &__text {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
  }
}
