@use "variables" as *;

.review {
  color: $white-color;
  text-align: center;

  &__container {
    max-width: 720px;
    margin: 0 auto;
    padding: 165px 318px;
  }

  &__author {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  &__text {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
  }

  // Responsive - iPad
  @media (max-width: 1024px) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }

    &__container {
      padding: 64px 40px;
    }
  }

  // Responsive - iPhone
  @media (max-width: 430px) {
    &__grid {
      grid-template-columns: 1fr;
    }

    &__container {
      padding: 48px 15px;
    }

    &__heading {
      font-size: 24px;
      margin-bottom: 48px;
    }

    &__card {
      width: 100%;
      max-width: 401px;
      margin-bottom: 30px;
    }
  }
  // Responsive - Large desktop
  @media (min-width: 1728px) {
    &__container {
      max-width: 1440px;
    }
  }
}
